/*
Author: Beesham Sarendranauth
*/

header {
    display: flex;
    flex-direction: column;
    background-color: green;
}

body {
    margin: 0 20px 0 20px;
}

#homepage_title { 
    align-self: flex-start;
}

.homepage_tab {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.homepage_tab_links {
}

#content_area {
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

#homepage_login {
   border-style: solid;
   padding: 20px 20px 20px 20px ;
   background-color: blue;
   margin-left: auto;
}
