/*
Author: Beesham Sarendranauth
*/

header {
    display: flex;
    flex-direction: column;
    background-color: green;
}

body {
    margin: 0 20px 0 20px;
}

#homepage_title { 
    align-self: flex-start;
}

.homepage_tab {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.homepage_tab_links {
}

#content_area {
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

#homepage_login {
    border-style: solid;
    padding: 20px 20px 20px 20px ;
    margin-left: auto;
    background-color: white;
    height: 500px;
    width: 300px;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login_container button {

    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login_container button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.slides {display: none;}

.slideshow_container {
    position: relative;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
      from {opacity: .4} 
        to {opacity: 1}
}

@keyframes fade {
      from {opacity: .4} 
        to {opacity: 1}
}

.register_modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: white;
    padding-top: 60px;
}

.register_container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.register_content {
    background-color: white;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
