* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}


.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}

.logo a,
.main-nav a {
    padding: 10px 5px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #00DCBE;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container {
    display: flex;
    padding: 1em;
    background-color: #F3F3F3;
    justify-content: space-between;
    height: 75vh;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    padding: 1em;
    margin: .6em;
    width: 30%;
    background-color: white;
    align-self: flex-start;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

input {
    font-size: 25px;
    border: 0;
    background-color: white;
}

#inputBttn {
    font-size: 25px;
}


li:hover {
    text-decoration: line-through red;

}

.container {
    min-height: calc(100vh - 70px);
}

#mainPgFooter {
    height: 50px;
    background-color: #00DCBE;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

#bio {
    height: 350px;
    max-height: 350px;
}

.userBioLocation {
    color: grey;
    font-size: 18px;
}

#todolist {
    height: 350px;
    max-height: 350px;
    padding: 20px;
    overflow: auto;
}

#bio {
    max-width: 200px;

}

#cal {
    max-height: 600px;
    max-width: 600px;
}


/* =================================
  Media Queries
==================================== */


@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;

    .header {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}