/*
Author: Vithusanan Mathiaparanam
*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#list li {
    list-style-type:disc;
    margin-left: 10px;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}


.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}

.logo a,
.main-nav a {
    padding: 10px 5px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #00DCBE;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh; /* set min container height to viewport height */
    max-width: 100vw;
    justify-content: space-between;
}


div.item {
    padding: 10px;
    height: 250px;
    width: 200px;
    flex: 1 1 calc(50% - 20px);
    align-self: flex-start;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

div.item:nth-of-type(odd) {
    background: teal;
}


input {
    font-size: 25px;
    border: 0;
    background-color: white;
}

#inputBttn {
    font-size: 25px;
}


#todolist li:hover {
    text-decoration: line-through red;

}

.container {
    min-height: calc(100vh - 70px);
}

#mainPgFooter {
    height: 50px;
    background-color: #00DCBE;
}


.item {
    overflow: auto;
}

#bio {
    max-width: 200px;

}

#cal {
    max-height: 600px;
    max-width: 600px;
}

div#time {
    font-size: 3.0vw;
}

div#greeting, div#userName {
    font-size: 1.0vw;
}

#game {
    display: flex;
    flex-direction: row;

}

#weather-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;


}

#weather {
    font-weight: bold;
}

.weather {
    flex: 1 1 calc(50% - 20px);

}

#cities, #country {
    flex: 1 1 calc(50% - 20px);
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px;

}

.country, .city {
/ / border: 1 px solid #004993;

    outline: 1px solid; /* use instead of border */
    margin-top: 10px;
    margin-right: 10px;

}

#news-container a {
    display: block;
    color: white;
}

/* =================================
  Media Queries
==================================== */


@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;

    .header {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}